* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100vh;
}

body {
	overflow: hidden;
	font-family: "微软雅黑", 'Open Sans', sans-serif;
	background-color: #ececec !important;
}

.ui {
	width: 100%;
	height: 100%;
	background-color: #fff;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
}

.ui .search input {
	outline: none;
	border: none;
	background: none;
}

.ui .search {
	position: relative;
}

.ui .search input[type=submit] {
	font-family: 'FontAwesome';
	position: absolute;
	right: 10%;
	top: 27px;
	color: white;
}

.ui .search input[type=search] {
	background-color: #696c75;
	border-radius: 3px;
	padding: 10px;
	width: 90%;
	box-sizing: border-box;
	margin: 15px 5%;
	color: #fff;
}

.ui .slide-friend {
	width: 20%;
	box-sizing: content-box;
	padding-right: 1%;
	height: 100%;
	background: #434753;
	z-index: 1000;
}

.ui .chat {
	width: 100%;
	height: 100%;
	background: #f9f9f9;
}

.ui .chat .info {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	vertical-align: 40px;
	width: calc(100% - 65px - 50px);
}

.ui .chat .info .name {
	font-weight: 600;
	color: #434753;
	height: 50%;
}

.ui .chat .info .count {
	color: #6d738d;
}

.ui .chat i.fa {
	color: #d6d9de;
	vertical-align: 25px;
}

.ui .avatar>img, .ui .list-friends img {
	border-radius: 50%;
	border: 3px solid #c9d9fb;
	vertical-align: inherit;
	width: 50px;
	height: 50px;
}

.ui #list-friends-box {
	list-style: none;
	font-size: 13px;
	height: 100%;
	overflow: scroll;
	overflow-x: hidden;
}

.ui #list-friends-box::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

.ui #list-friends-box::-webkit-scrollbar-thumb {
	background: #C0C0C0;
	border-radius: 5px;
}

.ui .list-friends {
	padding-top: 5px;
}

.ui .list-friends img {
	margin: 5px;
}

.ui .list-friends>li {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 5px 0px 5px 10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	background-color: #434753;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	display: -webkit-box;
}

.ui .list-friends>li:hover {
	background-color: #2f323a;
}

.ui .list-friends .info {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.ui .list-friends .user {
	color: #fff;
	margin-top: 12px;
}

.ui .list-friends .status {
	position: relative;
	margin-left: 14px;
	color: #a8adb3;
}

.ui .list-friends .off:after, .ui .list-friends .on:after {
	content: '';
	left: -12px;
	top: 8px;
	position: absolute;
	height: 7px;
	width: 7px;
	border-radius: 50%;
}

.ui .list-friends .off:after {
	background: #fd8064;
}

.ui .list-friends .on:after {
	background: #62bf6e;
}

.ui .top {
	height: 70px;
	box-shadow : 0px 3px 5px #ccc;
}

.ui #list-messages-box {
	overflow: scroll;
	overflow-x: hidden;
}

.ui .messages {
	list-style: none;
}

.ui #list-messages-box::-webkit-scrollbar {
	width: 6px;
	cursor: pointer;
}

.ui #list-messages-box::-webkit-scrollbar-track {
	background: #f3f3f3;
}

.ui #list-messages-box::-webkit-scrollbar-thumb {
	background: #A0D3E4;
	border-radius: 5px;
}

.ui .messages ._mCS_1 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
	{
	
}

.ui .messages ._mCS_2 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
	{
	
}

.ui .messages ._mCS_3 .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
	{
	
}

.ui .messages li {
	margin: 10px;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.ui .messages .friend-message {
	animation: leftMessageUpdate 1s;
	-moz-animation: leftMessageUpdate 1s;
	-webkit-animation: leftMessageUpdate 1s;
	-o-animation: leftMessageUpdate 1s;
}

.ui .messages .i {
	animation: rightMessageUpdate 1s;
	-moz-animation: rightMessageUpdate 1s;
	-webkit-animation: rightMessageUpdate 1s;
	-o-animation: rightMessageUpdate 1s;
}

.ui .messages li:after {
	content: '';
	clear: both;
	display: block;
}

.ui .messages li .head {
	font-size: 13px;
}

.ui .messages li .name {
	font-weight: 600;
	position: relative;
}

.ui .messages li .name:after {
	content: '';
	position: absolute;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	top: 6px;
}

.ui .messages li .time {
	color: #b7bccf;
}

.ui .messages li .message {
	margin-top: 20px;
	color: #fff;
	font-size: 15px;
	border-radius: 3px;
	padding: 10px;
	line-height: 25px;
	max-width: 90%;
	word-wrap: break-word;
	position: relative;
}

.ui .messages li .message:before {
	content: '';
	position: absolute;
	width: 0px;
	height: 0px;
	top: -10px;
	border-bottom: 10px solid #62bf6e;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.ui .messages li.friend-message .name {
	margin: 0px 10px 0px 20px;
}

.ui .messages li.friend-message .name:after {
	background-color: #62bf6e;
	left: -20px;
	top: 6px;
}

.ui .messages li.friend-message .message {
	background-color: #62bf6e;
	float: left;
}

.ui .messages li.friend-message .message:before {
	left: 5px;
	border-bottom-color: #62bf6e;
}

.ui .messages li.i .head {
	text-align: right;
}

.ui .messages li.i .name {
	margin: 0px 20px 0px 10px;
}

.ui .messages li.i .name:after {
	background-color: #7bc4ef;
	right: -20px;
	top: 6px;
}

.ui .messages li.i .message {
	background-color: #7bc4ef;
	float: right;
}

.ui .messages li.i .message:before {
	right: 5px;
	border-bottom-color: #7bc4ef;
}

.ui .write-form {
	height: 30%;
}

.ui .write-form #text {
	height: 30%;
	margin: 20px 1%;
	width: 98%;
	outline: none;
	padding: 15px;
	border: none;
	border-radius: 3px;
	resize: none;
}

.ui .write-form #text:before {
	content: '';
	clear: both;
}

.ui .avatar>img {
	border-color: #c9d9fb;
	margin: 10px;
	margin-right: 5px;
}

.ui .avatar {
	display: inline-block;
}

.ui .send {
	margin-right: 1%;
	float: right;
	height: 50px;
	line-height: 50px;
	padding: 0px 12px;
}

/*.ui .send:hover {
	color: #ffffff;
	background-color: #2d5673;
}*/
.ui i.fa-file-o {
	margin-left: 15px;
}

.ui i.fa-picture-o {
	margin-left: 5%;
}

.ui #text {
	padding: 5px 10px;
	line-height: 25px;
	overflow: scroll;
	overflow-x: hidden;
}

.ui #text::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

.ui #text::-webkit-scrollbar-track {
	background: #f3f3f3;
}

.ui #text::-webkit-scrollbar-thumb {
	background: #A0D3E4;
	border-radius: 5px;
}

.slide-friend-body {
	height: 100%;
	padding: 20px 0;
}

.unread {
	position: absolute;
	background-color: #ce2f00;
	width: 25px;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	line-height: 25px;
	top: -3px;
	left: 8px;
}

.myAlertBox {
	position: fixed;
	top: 10px;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.myAlert {
	position: relative;
	top: 10px;
	margin: 5px auto;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #ec9336;
	border-radius: 10px;
	padding: 20px 20px 20px 55px;
	color: #fff;
	z-index: 9999;
	max-width: 250px;
	box-shadow: 0px 0px 10px #e27f2b;
	right: 0;
}

.myAlertShow {
	animation: myAlertShow 1s;
	-moz-animation: myAlertShow 1s;
	-webkit-animation: myAlertShow 1s;
	-o-animation: myAlertShow 1s;
}

.myAlertHidden {
	animation: myAlertHidden 1s;
	-moz-animation: myAlertHidden 1s;
	-webkit-animation: myAlertHidden 1s;
	-o-animation: myAlertHidden 1s;
}

.myAlertText {
	
}

.myAlertImg {
	position: absolute;
	left: 20px;
	top: 15px;
	border-radius: 50%;
	border: 1px solid #fdeec0;
}

.myAlertClose {
	position: absolute;
	right: 8px;
	top: 5px;
	cursor: pointer;
}

.myAlertProgress {
	position: absolute;
	height: 3px;
	width: 96%;
	background-color: #10a7ca;
	bottom: 6px;
	left: 2%;
	border-radius: 10px;
}

.mCSB_inside>.mCSB_container {
	margin-right: 5px !important;
}

@media ( max-width : 961px) {
	.ui .slide-friend {
		width: 40%;
		position: fixed;
		left: -41%;
	}
	.slide-friend-button {
		width: 30px;
		height: 40px;
		position: absolute;
		left: 100%;
		top: 10%;
		background-color: #7bc4ef;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	.slide-friend-button-top {
		border-top: 3px solid #fff;
		width: 20px;
		position: absolute;
		top: 13px;
		left: 5px;
		transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		/* IE 9 */
		-moz-transform: rotate(45deg);
		/* Firefox */
		-webkit-transform: rotate(45deg);
		/* Safari 和 Chrome */
		-o-transform: rotate(45deg);
	}
	.slide-friend-button-bottom {
		border-top: 3px solid #fff;
		width: 20px;
		position: absolute;
		top: 25px;
		left: 5px;
		transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		/* IE 9 */
		-moz-transform: rotate(-45deg);
		/* Firefox */
		-webkit-transform: rotate(-45deg);
		/* Safari 和 Chrome */
		-o-transform: rotate(-45deg);
	}
	.ui #list-messages-box {
		height: calc(100% - 70px - 15%);
		margin-top: 5px;
	}
	.ui .write-form #text {
		height: 30%;
		margin: 5% 1%;
		width: 98%;
		outline: none;
		padding: 15px;
		border: none;
		border-radius: 3px;
		resize: none;
	}
	.ui .chat {
		width: 100%;
	}
	.ui .write-form {
		height: 30%;
	}
	.ui .write-form textarea {
		margin: 0px 1% 5px 1%;
		height: 40%;
	}
	.ui .send {
		display: none;
	}
}

@media ( min-width : 1200px) {
	.ui {
		width: 800px;
		height: 800px;
		margin: 30px auto;
		box-shadow: 0px 0px 15px #7bc4ef;
	}
	.ui .write-form {
		height: 200px;
	}
	.ui #list-messages-box {
		height: 570px;
		margin-right: 5px;
		margin-top: 5px;
	}
}